* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

h1, a {
    font-weight: 400;
    text-decoration: none;
    color: #171A22;
}

.dropdown-logo {
    display: flex;
    align-items: center;
}

.menu-btn {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: lighter;
    margin: 10px;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #374231;
    min-width: 150px;
    border-radius: 10px;
    z-index: 4; 
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 15px;
    color: white;
}

.menu-btn:hover .dropdown {
    display: block;
}

#titledesc {
    font-weight: 250;
    font-size: medium;
}

.title {
    text-align: center;
}

.post-name {
    text-align: center;
    padding: 30px;
}

.imgpost {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#logo {
    width: auto;
    height: 70px;
}

main {
    border-top: rgba(201, 201, 201, 0.719);
    border-style: solid;
    border-left-color: white;
    border-right-color: white;
}

.content {
    margin: 60px;
    display: inline-block;
    justify-content: space-around;
    justify-self: left;
    text-align: justify;
    padding: 10px 50px 10px 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap-reverse;
    margin: 50px;
    justify-content: center;
    text-align: center;
}

.cards a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 60px;
    display: inline-flex;
}

.card {
    height: 150px;
    width: 300px;
    border-radius: 20px;
    background-color: #374231;
    background-size: cover;
}

.landing {
    background-image: url(/assets/backdrop-situs.jpg);
    background-position: center;
    background-size: cover;
    opacity: 75%;
    padding: 200px;
    color: white;
}

.landing h2 {
    font-size: 3rem;
    text-align: center;
    padding: 10px;
}

.landing h3 {
    font-size: small;
    text-align: center;
}

.buttons {
    display : flex;
    justify-content: center;
    align-items: center;
}

.buttons a {
    text-decoration: none;
    padding: 10px;
    content: 10px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

p {
    line-height: 35px;
}

footer {
    background-color: #171A22;
    color: white;
    text-align: center;
    padding: 100px;
}

.footer-content {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    font-size: small;
}

#link {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

#maps {
    display: block;
    position: relative;
    margin-left: 630px;
    margin-top: 0px;
}

/* Media Query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    h1 {
        font-size: 13px;
        line-height: 0%;
    }

    .post-name {
        font-size: medium;
        padding: 20px;
    }

    #titledesc {
        font-size: 7px;
        line-height: 0%;
    }

    #logo {
        width: 40px;
        height: auto;
    }

    .landing {
        padding: 100px;
    }

    .landing h2 {
        font-size: 40px;
        padding: 0px;
        display: block;
        align-items: center;
    }

    .landing h3 {
        font-size: smaller;
        text-align: center;
    }

    .buttons {
        display: grid;
        text-align: center;
        margin: 10px;
    }

    .buttons a {
        padding: 10px;
    }

    .content {
        margin: 30px;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    svg {
        height: 60px;
        padding-right: 40px;
    }

    footer {
        padding: 50px; /* Reduce padding */
    }

    .footer-content {
        flex-direction: column; /* Stack items vertically */
        text-align: left; /* Center align content */
        line-height: 15px;
    }

    #maps {
        width: 310px;
        margin: 0 auto; /* Center map */
        margin-top: 20px; /* Adjust top margin */
        margin-left: auto; /* Center map */
        margin-right: auto; /* Center map */
    }
}
